<abp-modal [busy]="isBusy" [visible]="visible" (visibleChange)="setVisible($event)">
  <ng-template #abpHeader>
    <h3>{{ '::ChangeRequest:Modal:RejectTitle' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <div class="mb-3">
      <label class="form-label" for="change-request-reject-reason">
        {{ '::ChangeRequest:Modal:RejectReasonLabel' | abpLocalization }} *
      </label>
      <textarea
        id="change-request-reject-reason"
        class="form-control"
        rows="4"
        [maxlength]="maxReasonLength"
        [(ngModel)]="reason"
        [placeholder]="'::ChangeRequest:Modal:RejectReasonPlaceholder' | abpLocalization"
        required
      ></textarea>
      <small class="text-muted">{{ reason.length }} / {{ maxReasonLength }}</small>
    </div>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button
      iconClass="fa fa-times"
      buttonType="button"
      [disabled]="!canSubmit"
      (click)="submit()"
    >
      {{ '::ChangeRequest:Action:Reject' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
