<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <h3>
      {{ (service.selected ? 'AbpUi::Edit' : '::NewDoctor') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="service.form" id="doctor" (ngSubmit)="service.submitForm()" validateOnSubmit>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Doctor' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="doctor-first-name">
                  {{ '::FirstName' | abpLocalization }} *
                </label>

                <input
                  id="doctor-first-name"
                  formControlName="firstName"
                  class="form-control"
                  maxlength="50"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="doctor-last-name">
                  {{ '::LastName' | abpLocalization }} *
                </label>

                <input
                  id="doctor-last-name"
                  formControlName="lastName"
                  class="form-control"
                  maxlength="50"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="doctor-email">
                  {{ '::Email' | abpLocalization }} *
                </label>

                <input
                  id="doctor-email"
                  formControlName="email"
                  class="form-control"
                  maxlength="49"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="doctor-gender">
                  {{ '::Gender' | abpLocalization }} *
                </label>

                <select
                  id="doctor-gender"
                  formControlName="gender"
                  class="form-select form-control"
                >
                  <option [ngValue]="null"></option>
                  @for (option of service.genderOptions; track option.key) {
                    <option [ngValue]="option.value">
                      {{ '::Enum:Gender.' + option.value | abpLocalization }}
                    </option>
                  }
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label" for="doctor-identity-user-id">
                  {{ '::IdentityUser' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="doctor-identity-user-id"
                  formControlName="identityUserId"
                  [getFn]="service.getIdentityUserLookup"
                ></abp-lookup-select>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::AppointmentTypes' | abpLocalization }}
            @if (this.service.form.controls['appointmentTypeIds']; as control) {
              <span>({{ control.value?.length }})</span>
            }
          </a>
          <ng-template ngbNavContent>
            <abp-lookup-typeahead-mtm
              cid="doctor-appointment-types"
              formControlName="appointmentTypeIds"
              displayNameProp="name"
              lookupNameProp="displayName"
              [getFn]="service.getAppointmentTypeLookup"
              [editingData]="service.selected?.appointmentTypes"
            ></abp-lookup-typeahead-mtm>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Locations' | abpLocalization }}
            @if (this.service.form.controls['locationIds']; as control) {
              <span>({{ control.value?.length }})</span>
            }
          </a>
          <ng-template ngbNavContent>
            <abp-lookup-typeahead-mtm
              cid="doctor-locations"
              formControlName="locationIds"
              displayNameProp="name"
              lookupNameProp="displayName"
              [getFn]="service.getLocationLookup"
              [editingData]="service.selected?.locations"
            ></abp-lookup-typeahead-mtm>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="doctor">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
