<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        *abpPermission="'CaseEvaluation.DefenseAttorneys.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewDefenseAttorney' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    @if (service.filters; as filters) {
      <abp-advanced-entity-filters-form>
        <form #filterForm (keyup.enter)="list.get()">
          <div class="row">
            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="firmNameFilter">
                  {{ '::FirmName' | abpLocalization }}
                </label>

                <input
                  id="firmNameFilter"
                  class="form-control"
                  [(ngModel)]="filters.firmName"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="phoneNumberFilter">
                  {{ '::PhoneNumber' | abpLocalization }}
                </label>

                <input
                  id="phoneNumberFilter"
                  class="form-control"
                  [(ngModel)]="filters.phoneNumber"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="cityFilter">
                  {{ '::City' | abpLocalization }}
                </label>

                <input
                  id="cityFilter"
                  class="form-control"
                  [(ngModel)]="filters.city"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="stateIdFilter">
                  {{ '::State' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="stateIdFilter"
                  [getFn]="serviceDetail.getStateLookup"
                  [(ngModel)]="filters.stateId"
                  [ngModelOptions]="{ standalone: true }"
                ></abp-lookup-select>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="identityUserIdFilter">
                  {{ '::IdentityUser' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="identityUserIdFilter"
                  [getFn]="serviceDetail.getIdentityUserLookup"
                  [(ngModel)]="filters.identityUserId"
                  [ngModelOptions]="{ standalone: true }"
                ></abp-lookup-select>
              </div>
            </div>

            <div class="col-12 col-sm-auto align-self-end mb-3">
              <div class="row">
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                    <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                  </button>
                </div>
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-primary" (click)="list.get()">
                    <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </abp-advanced-entity-filters-form>
    }
  </abp-advanced-entity-filters>

  <div class="card">
    <div class="card-body">
      <ngx-datatable
        default
        [rows]="service.data.items"
        [count]="service.data.totalCount"
        [list]="list"
      >
        @if (isActionButtonVisible) {
          <ngx-datatable-column
            [name]="'AbpUi::Actions' | abpLocalization"
            [maxWidth]="150"
            [width]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog me-1" aria-hidden="true"></i>
                  {{ 'AbpUi::Actions' | abpLocalization }}
                </button>

                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *abpPermission="'CaseEvaluation.DefenseAttorneys.Edit'"
                    (click)="update(row)"
                  >
                    {{ 'AbpUi::Edit' | abpLocalization }}
                  </button>

                  <button
                    ngbDropdownItem
                    *abpPermission="'CaseEvaluation.DefenseAttorneys.Delete'"
                    (click)="delete(row)"
                  >
                    {{ 'AbpUi::Delete' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        }
        <ngx-datatable-column
          name="{{ '::FirmName' | abpLocalization }}"
          prop="defenseAttorney.firmName"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.defenseAttorney.firmName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::FirmAddress' | abpLocalization }}"
          prop="defenseAttorney.firmAddress"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.defenseAttorney.firmAddress }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::PhoneNumber' | abpLocalization }}"
          prop="defenseAttorney.phoneNumber"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.defenseAttorney.phoneNumber }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::State' | abpLocalization }}" prop="state.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.state?.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::IdentityUser' | abpLocalization }}"
          prop="identityUser.email"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.identityUser?.email }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

@defer (when serviceDetail.isVisible) {
  @if (serviceDetail.isVisible) {
    <app-defense-attorney-detail-modal />
  }
}
