<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <h3>
      {{ (service.selected ? 'AbpUi::Edit' : '::NewLocation') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="service.form"
      id="location"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Location' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="location-name">
                  {{ '::Name' | abpLocalization }} *
                </label>

                <input
                  id="location-name"
                  formControlName="name"
                  class="form-control"
                  maxlength="50"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="location-address">
                  {{ '::Address' | abpLocalization }}
                </label>

                <input
                  id="location-address"
                  formControlName="address"
                  class="form-control"
                  maxlength="100"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="location-city">
                  {{ '::City' | abpLocalization }}
                </label>

                <input
                  id="location-city"
                  formControlName="city"
                  class="form-control"
                  maxlength="50"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="location-zip-code">
                  {{ '::ZipCode' | abpLocalization }}
                </label>

                <input
                  id="location-zip-code"
                  formControlName="zipCode"
                  class="form-control"
                  maxlength="15"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="location-parking-fee">
                  {{ '::ParkingFee' | abpLocalization }} *
                </label>

                <input
                  type="number"
                  id="location-parking-fee"
                  formControlName="parkingFee"
                  class="form-control"
                />
              </div>

              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  id="location-is-active"
                  formControlName="isActive"
                  class="form-check-input"
                />

                <label for="location-is-active" class="form-check-label">
                  {{ '::IsActive' | abpLocalization }}
                </label>
              </div>

              <div class="mb-3">
                <label class="form-label" for="location-state-id">
                  {{ '::State' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="location-state-id"
                  formControlName="stateId"
                  [getFn]="service.getStateLookup"
                ></abp-lookup-select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="location-appointment-type-id">
                  {{ '::AppointmentType' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="location-appointment-type-id"
                  formControlName="appointmentTypeId"
                  [getFn]="service.getAppointmentTypeLookup"
                ></abp-lookup-select>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="location">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
